body {
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.board_game_container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.cell {
    height: 100px; 
    width: 100px; 
    border: 1px solid black; 
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 48px;
}

